html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

.search-form {
  width: 50%;
  position: relative;
  display: flex;
  margin: 0 auto;
  padding: 10px 30px;
  &__input{
    width: 100%;
    border: 3px solid #00b4cc;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
  }
}

.searchTerm:focus {
  color: #00b4cc;
}
.gallery {
  max-width: 100%;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.stats {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.photo-card {
  margin-right: 30px;
  margin-bottom: 50px;
}

img {
  height: 300px;
  max-width: 400px;
}

.btn-block {
  display: flex;
  margin: 0 auto;
}

.btn-load-more {
  margin: auto;
  visibility: hidden;
  padding-bottom: 30px;
  padding-top: 30px;
  text-align: center;
  width: 10%;
  background: rgb(82, 192, 155);
  border-radius: 5px;
  color: white;
  display: inline-block;
  padding: 10px 30px;
  transition: all 0.25s ease-out;
  &:hover {
    background-color: #0a9628;
  }
}
